body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body div{
    margin: 2rem 0;
}
.square {
    width: 200px;
    height: 200px;
    background-color: rgb(221, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
  }